[Unit]
Description=Logging system data and time, logged-in users and system up-time every 10 seconds.
After=syslog.target

[Service]
ExecStart=/root/dirTest/mySysStat.sh

[Install]
WantedBy=multi-user.target